version: '3.8'

services:
  mongodb:
    image: mongo:7.0.0
    container_name: webserver-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: weather
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mongodb_data:

